@using fravaersflexer.Models;
@model IEnumerable<Person>
@{
    ViewData["Title"] = "Home Page";
}

<section class="container mx-auto py-10">
    <div class="grid  grid-cols-1 lg:grid-cols-2 sm:gap-10">
        <div class=" bg-slate-800 sm:rounded-xl h-[22rem] p-6">
            <h1 class="text-2xl font-medium text-center pb-2 text-white">Fraværs statistik</h1>
            <div class="bg-flexprimary w-2/6 h-1 rounded-lg mx-auto mb-1"></div>
            <p class="text-xs text-gray-400 text-center mb-5">gennemsnitlig fravær for uddandelserne</p>
        </div>
        <div class="relative bg-slate-800 sm:rounded-xl h-[22rem]">
            <div class="p-6">
                <h1 class="text-2xl font-medium text-center pb-2 text-white">Fraværs Podiet</h1>
                <div class="bg-flexprimary w-2/6 h-1 rounded-lg mx-auto mb-1"></div>
                <p class="text-xs text-gray-400 text-center mb-5">3 elever med mest fravær i hele landet</p>
            </div>
            


            <div class="flex flex-row justify-items-center w-full rounded-b-lg text-white">
                <div class="basis-1/3 h-28 text-center mt-8 p-2 sm:p-0">
                    <h1 class="text-sm sm:text-lg font-bold mb-0">Ole Benstrup</h1>
                    <p class="text-xs sm:text-sm mt-0 text-gray-400">1.G | Silkeborg Gymnasium | 20 %</p>
                </div>
                <div class="basis-1/3 h-28 text-center mt-[-2%] p-2 sm:p-0">
                    <h1 class="text-sm sm:text-lg font-bold mb-0 text-flexprimary shadow-flexprimary">Mia Thidemann</h1>
                    <p class="text-xs sm:text-sm mt-0 text-gray-400">2.G | VUC Fyn | 67 %</p>
                </div>
                <div class="basis-1/3 h-28 text-center mt-16 p-2 sm:p-0">
                    <h1 class="text-sm sm:text-lg font-bold mb-0">Jens Bækgaard</h1>
                    <p class="text-xs sm:text-sm mt-0 text-gray-400">3.G | College360 | 12 %</p>
                </div>
            </div>
            <div class="flex flex-row justify-items-center absolute bottom-0 w-full items-end sm:rounded-b-lg text-white">
                <div class="basis-1/3 h-28 bg-slate-600 sm:rounded-bl-lg justify-center ">
                    <div class="absolute top-[55%] left-[13.5%] flex flex-row">
                        <h1 class="text-3xl text-flexprimary">2</h1>
                        <h1 class="text-lg">nd</h1>
                    </div>
                </div>
                <div class="basis-1/3 h-40 bg-flexprimary justify-center shadow-lg shadow-flexprimary/40">
                    <div class="absolute top-[30%] left-[47%] flex flex-row">
                        <h1 class="text-3xl text-white font-bold">1</h1>
                        <h1 class="text-lg">st</h1>
                    </div>
                </div>
                <div class="basis-1/3 h-20 bg-slate-600 sm:rounded-br-lg">
                    <div class="absolute top-[65%] left-[80%] flex flex-row">
                        <h1 class="text-3xl text-flexprimary">3</h1>
                        <h1 class="text-lg">rd</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </section>

  <section class="container mx-auto">
    <div class="relative rounded-t-xl mb-0 overflow-auto bg-flexprimary h-2"></div>
            <div class="overflow-hidden bg-slate-800">
            <table class="table-auto w-full text-left text-sm text-white ">
                <thead>
                    <tr class="bg-flexprimary p-8 h-10">
                        <th class="pl-8">Navn</th>
                        <th>Alder</th>
                        <th>Årgang</th>
                        <th>Uddandelse</th>
                        <th>Klasse</th>
                        <th class="pr-8">Fraværsprocent</th>
                    </tr>
                </thead>
                <tbody class="bg-black rows">

                        @foreach (Person persons in Model)
                        {
                        <tr>
                            <th class="h-10 pl-8">@persons.Name</th>
                            <th class="h-10">@persons.Age</th>
                            <th class="h-10">NaN</th>
                            <th class="h-10">@persons.EducationName</th>
                            <th class="h-10">@persons.ClassName</th>
                            <th class="h-10 pr-8">@persons.AbsencePercentage</th>
                        </tr>
                        }
                </tbody>
            </table>
      </div>
      <div class="relative rounded-b-xl mt-0 overflow-auto bg-slate-800 h-2"></div>
  </section>