@using fravaersflexer.Models;

{
  
}
@model IEnumerable<Person>
@{
    ViewData["Title"] = "Home Page";
}

  <section class="container mx-auto py-10">
    <div class="grid  grid-cols-1 lg:grid-cols-2 gap-10">
        <div class=" bg-slate-800 rounded-xl h-52 p-6">
            <h1 class="text-2xl font-medium text-center pb-2 text-white">Fraværs statistik</h1>
            <div class="bg-flexprimary w-2/6 h-1 rounded-lg mx-auto mb-1"></div>
            <p class="text-xs text-gray-400 text-center mb-5">gennemsnitlig fravær for uddandelserne</p>
        </div>
        <div class=" bg-slate-800 rounded-xl h-52 p-6">
            <h1 class="text-2xl font-medium text-center pb-2 text-white">Fraværs Podiet</h1>
            <div class="bg-flexprimary w-2/6 h-1 rounded-lg mx-auto mb-1"></div>
            <p class="text-xs text-gray-400 text-center mb-5">3 elever med mest fravær i hele landet</p>
        </div>
    </div>
  </section>


<table class="bg-white">
      <thead>
    <tr>
      <th>Navn</th>
      <th>Alder</th>
      <th>Skole</th>
        <th>Uddanelse</th>
      <th>Klasse</th>
      <th>Fraværs Procnet</th>
    </tr>
      </thead>
        <tbody>
    @foreach (Person persons in Model)
    {
        <tr>
            <td>@persons.Name</td>
            <td>@persons.Age</td>
            <td>@persons.SchoolName</td>
            <td>@persons.EducationName</td>
            <td>@persons.ClassName</td>
            <td>@persons.AbsencePercentage</td>
        </tr>
            }
    </tbody>
</table>